# Python virtual environment
venv/
health/Lib/

# Byte-compiled / cache files
__pycache__/
*.pyc

# Django migration files
*/migrations/*.py
*/migrations/*.pyc

# Database file
db.sqlite3

# OS files
.DS_Store
Thumbs.db

# Ignore Python virtual environment
health/
